.bor  { 
        border-left: 1px solid #d9d9d9; 
    }
.searchCon {
    display: none;
    position: absolute;
}
.imageSection{
    width: 100%;
}
.imageSection:hover .searchCon { 
    display: inline-block;
}

.mainImage{
    width:100%;
    height:35vh;
}
.sidebar-sm {
    min-width: 1200px;
}

@media screen and (max-width: 950px) {
  
    .mainImage{
        width:100%;
        height:auto;
    }
}
@media only screen and (max-width: 500px)  {
    .sidebar-sm {
        min-width: 330px;
    }
    .bor  { 
        border: none;
        border-top: 1px solid #d9d9d9; 
    }   
    
}