@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.flatSuccess{
	
	 font-size: 16px;
	 color:  #33cc33;
}

.cardbackgroundImg{
	height: 85vh;
}

.flatSuccess:hover {
	border-bottom: 2px solid #33cc33;
}

.details {
	font-family: 'Dela Gothic One', cursive;
}

.homeCard{
	background-color: white;
}

.buttonHover{
  text-align: left;
}

.buttonHover:hover{
  background-color: ;
}

.buttonss{
	padding: 2px;
}

.sideBorder{
   border-right:1px solid #000000;
}

.backImage{
	display: block;
	width : 105%;
	height: 52vh;
	left: 13%; 
	top: 100px;
	z-Index: 1;
	position: absolute;
}

.frntImage {
	border: 1px solid lightgray;
	left: 19%;
	top: 130px;
	z-Index: 2;
	position: absolute; 
	width : 105%;
}


@media screen and (max-width: 850px) {
   .buttonClasses{
	 	padding-top: 50px;
	}

   .backImage {
   	left: 7%;
		top: 60px;
	   width: 80%;
   }
   .frntImage {
		left: 4%;
		top: 90px;
		width : 89%;
	}

	.cardbackgroundImg{
		height: 77vh;
	}
	
}

@media screen and (max-width: 660px) {
	.sideBorder{
	   border-right:none;
	}
   .backImage {
   	left: 9%;
		top: 90px;
	   width: 80%;
   }
   .frntImage {
		left: 5%;
		top: 120px;
		width : 89%;
	}

	.cardbackgroundImg{
		height: 64vh;
	}
	
}

@media screen and (max-width: 480px) {
   .backImage {
   	left: 9%;
		top: 60px;
		height: 30vh;
	   width: 80%;
   }
   .frntImage {
		left: 5%;
		top: 80px;
		width : 89%;
	}

	.cardbackgroundImg{
		height: 47vh;
	}

	.subbarCreateSection{
		align-items: center !important;
		justify-content: left !important;
	}
	
}

@media screen and (max-width: 767px) {
	 .subbarCreateSection{
		 align-items: center !important;
		 justify-content: left !important;
	 }
	 
 }